[Desktop Entry]
Type=Application
Name=coolctl
Comment=DeepCool AIO LCD media editor and monitor
Exec=coolctl-gui
Icon=coolctl-gui
Categories=Utility;
Terminal=false
